@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h4 class="display-4">Aplicatie de calcul a taxelor de stationare pe baza balantei intrareiesire si listarea de borderouri in scopul facturarii</h4>
</div>
