@{
    ViewData["Title"] = "Descrie proiect";
}
<h1>@ViewData["Title"]</h1>

<p>
    Scopul acestui proiect este acela de a realiza o aplicatie de reglementare a intrarilor/iesirilor pentru OTF (Operator Transport Feroviar) si listarea unei serii de borderouri in scopul facturarii soldului de vagoane periodic.
    Aplicatia va contine o pagina de login, ce va permite clientilor sa listeze tabelele dorite si de asemenea,pe langa aceasta optiune, portalul de logare va fi folosit si de catre admin pentru a adauga,modifica sau sterge in baza de date traficul feroviar sau reactualizarea tarifelor.
</p>
